<p class="h-5 is-bold">Платник податку на прибуток на загальних підставах</p>
<p class="h-3 is-bold">{{ shellInfo.fullName }}</p>
<p class="h-5 ">
    ЗКПО {{ shellInfo.zkpo }}, ІПН {{ shellInfo.ipn }}, номер свідоцтва {{ shellInfo.certificateNumber }}
</p>
<p class="is-bold">тел. {{ shellInfo.phoneNumber }}</p>
<p >{{ shellInfo.postAddress }}</p>