{% import "backend/crud/macros/ui.twig" as ui %}

<table class="table table-bordered tablesaw table-striped table-hover color-table muted-table" data-tablesaw-mode="stack">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" data-tablesaw-priority="persist" class="date">
            {{ 'label.date'|trans }}
        </th>
        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">
            {{ 'label.resource'|trans }}
        </th>
        <th scope="col" data-tablesaw-priority="persist">
            {{ 'label.response.code'|trans }}
        </th>
        <th scope="col" data-tablesaw-priority="persist">
            {{ 'label.ip_address'|trans }}
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% set item = view.paginator.currentPageOffsetStart %}
    {% for key, entity in view.paginator %}
        <tr data-key="{{ key }}">
            <td>{{ item }}</td>
            <td data-tablesaw-no-labels>{{ entity.createdAt|localizeddate('medium', 'medium') }}</td>
            <td data-tablesaw-no-labels>
                <strong>[{{ entity.request.method }}]:</strong>
                {{ entity.resource }}
            </td>
            <td data-tablesaw-no-labels>
                {{ ui.labeled(entity.response.code, {
                    '200': '200 OK',
                    '400': '400 Bad request',
                    '401': '401 Unauthorized',
                    '404': '404 Not found',
                    '405': '405 Method not allowed',
                    '500': '500 Server Error'
                }, {
                    '200': 'success',
                    '400': 'danger',
                    '401': 'info',
                    '404': 'danger',
                    '405': 'warning',
                    '500': 'danger'
                }) }}
            </td>
            <td data-tablesaw-no-labels>{{ entity.IPAddress }}</td>
            <td>
                <button class="btn btn-primary btn-xs collapsed" type="button" data-toggle="collapse" data-target="#{{ entity.id }}" aria-expanded="false">
                    Show
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="100" style="margin: 0; max-width: 100px; overflow: hidden; padding: 0; text-overflow: ellipsis; white-space: normal;">
                <div class="collapse" id="{{ entity.id }}">
                    <div class="p-10">
                        <label>Request:</label>
                        <pre><strong>{{ entity.request.method }}</strong>: {{ entity.resource }}</pre>

                        <div class="panel-heading" role="tab" id="heading_{{ entity.id }}_request_headers" style="padding: 5px 0px;">
                            <label>
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_{{ entity.id }}_request_headers" aria-expanded="false" aria-controls="collapse_{{ entity.id }}_request_headers" >
                                    Request headers
                                </a>
                            </label>
                        </div>
                        <div id="collapse_{{ entity.id }}_request_headers" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ entity.id }}_request_headers">
                            <div class="panel-body">
                                <pre>{{ entity.request.headers|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                            </div>
                        </div>

                        <div class="panel-heading" role="tab" id="heading_{{ entity.id }}_request_body" style="padding: 5px 0px;">
                            <label>
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_{{ entity.id }}_request_body" aria-expanded="false" aria-controls="collapse_{{ entity.id }}_request_body" >
                                    Request body
                                </a>
                            </label>
                        </div>
                        <div id="collapse_{{ entity.id }}_request_body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ entity.id }}_request_body">
                            <div class="panel-body">
                                <pre>{{ entity.request.body|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE')) }}</pre>
                            </div>
                        </div>

                        {% if entity.response.body|length > 0 %}
                            <label>Response body:</label>
                            <pre>{{ entity.response.body|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE')) }}</pre>
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
        {% set item = item + 1 %}
    {% endfor %}
    </tbody>
</table>